.card {
  max-width: 300px;
  min-height: 300px;
  border: solid 1px #aaa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}

.topSection,
.bottomSection {
  flex: 1;
  height: 60%;
}

.cardImage {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage img {
  width: 50%;
  height: 100%;
}

.bottomSection {
  background-color: #252525;
  width: 100%;
  height: 40%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardDescription {
  text-align: center;
  padding-top: 8px;
  height: 60%;
}

.cardDescription p {
  margin: 8px;
}

.price {
  font-weight: 700;
  font-size: 24px;
}

.userInteractions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  padding-bottom: 8px;
}

.addButton {
  background-color: #2e7d32;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
}

.addButton:hover {
  opacity: 0.75;
}

.plusButton,
.minusButton {
  padding: 4px 16px;
  border: none;
  margin: 0 16px;
  border-radius: 16px;
  cursor: pointer;
}

.plusButton:hover,
.minusButton:hover {
  opacity: 0.75;
}

.minusButton {
  background-color: hsl(0, 50%, 65%);
}

.minusButton:disabled {
  background-color: hsl(0, 50%, 85%);
  color: #777;
}

.plusButton {
  background-color: hsl(100, 50%, 65%);
}

.plusButton:disabled {
  background-color: hsl(100, 50%, 85%);
  color: #777;
}

@media (width<=768px) {
  .cardImage {
    height: 150px;
  }
}
